.App {
  text-align: center;
}

.Draw-landscape {
  width: 30%;
}

.Discard-landscape {
  width: 30%;
  float: right;
}

.Draw-portrait {
  width: 30%;
}

.Discard-portrait {
  width: 30%;
  float: right;
}

.Tiebreaker-landscape {
  width: 30%;
}

.Tiebreaker-portrait {
  width: 30%;
}

.Objectives-landscape {
  width:100%;
  padding-bottom: 5px;
}

.Objectives-Container-landscape{
  flex:1;
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

.ObjectiveCardHolder-landscape-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  width:20%;
}

.ObjectiveCardHolder-landscape {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  width:20%;
}

.Objectives-portrait {
  width: 100%; 
  padding-bottom: 5px;
}

.Objectives-Container-portrait{
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center; 
}

.ObjectiveCardHolder-portrait {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:24%;
  margin-right: 5px;
}

.ObjectiveCardHolder-portrait-first {
  display: flex;
  flex-direction: column;
  align-items: center;
  width:24%;
  margin-right: 5px;
  margin-left: 5px;
}

.root-container {
  overflow: auto;
}

.cards-container-landscape {
  display: flex;
  flex-direction: row;
}

.cards-container-portrait {

}

.draw-pile-landscape {
  flex-basis: 42%;
  margin-left: 5px;
  margin-right: 5px;
}

.draw-pile-landscape-noobj {
  width: 48%;
  margin-left: 5px;
}

.draw-pile-portrait {
  margin-left: 5px;
  margin-right: 5px;
}

.discard-pile {
  float: right;
  width: 50%;
    border: 3px solid rgb(165, 168, 14);

}

.float-container {
  border: 3px solid rgb(165, 168, 14);
  padding: 10px;
}

.slider-container {
  display: flex;
  flex-direction: row;
  width: 30%;
  padding-left: 5px;
  padding-right: 5px;
}

.objectives-slider-container {
  width: 30%;
  padding-left: 5px;
  padding-right: 5px;
}

.difficulty-text{
  width: 100%;
}

.slider-component {
  width: 10%;
}

.difficulty-container {
  flex-grow: 1;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(17, 14, 168);
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
}
