.App {
  text-align: center;
}

.Draw-landscape {
  width: 30%;
}

.Discard-landscape {
  width: 30%;
  float: right;
}

.Draw-portrait {
  width: 30%;
}

.Discard-portrait {
  width: 30%;
  float: right;
}

.Tiebreaker-landscape {
  width: 30%;
}

.Tiebreaker-portrait {
  width: 30%;
}

.blah {
  border: 3px solid rgb(165, 168, 14);

}

.Objectives-landscape {
  height: 20%;
  width: 30%;
  padding-right: 5px;
}


.Objectives-portrait {
  height: 20%;
  width: 30%;
  padding-right: 5px;
  padding-bottom: 5px
}

.Objectives-Container-landscape{
  width:48%;
  float:left;
  margin-right: 5px;
}

.Objectives-Container-portrait{
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}

.root-container {
  overflow: auto;
}

.cards-container-landscape {

}

.cards-container-portrait {

}

.draw-pile-landscape {
  float: right;
  width: 48%;
  margin-left: 5px;
}

.draw-pile-portrait {
  margin-left: 5px;
  margin-right: 5px;
}

.discard-pile {
  float: right;
  width: 50%;
    border: 3px solid rgb(165, 168, 14);

}

.float-container {
  border: 3px solid rgb(165, 168, 14);
  padding: 10px;
}

.slider-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}

.objectives-slider-container {
  display: flex;
  flex-direction: row;
  width: 30%;
  padding-left: 5px;
  padding-right: 5px;
}

.difficulty-text{
  width: 50%;
}

.slider-component {
  width: 10%;
}

.difficulty-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  border: 3px solid rgb(17, 14, 168);
  padding: 10px;
}

.float-child {
  width: 50%;
  padding: 20px;
}  

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
